<!DOCTYPE html>
<html>
<head>
  <title>Base de datos TFM</title>
</head>

<body>

<h1>Base de datos TFM</h1>

<div class="container">
<h2>Trabajos encontrados</h2>

<ul>
    <% results.forEach(function(r) { %>
        <li><%= r.id %> - <%= r.name %></li>
    <% }); %>
</ul>

</div>

</body>
</html>
