<!DOCTYPE html>
<html>
<head>
  <title>Base de datos asignaturas</title>
</head>

<body>

<h1>Base de datos asignaturas</h1>

<div class="container">
<h2>Asignaturas del máster</h2>

<ul>
    <% results.forEach(function(r) { %>
        <li><%= r.id %> - <%= r.nombre_asignatura %> - <%= r.profesor %></li>
    <% }); %>
</ul>

</div>

<button onclick="location.href='https://carlosguerayanez-ting-2019-pr2.herokuapp.com'">Volver</button>

</body>
</html>
