<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Página de inicio de la <%= title %></p>
    <button onclick="location.href='https://carlosguerayanez-ting-2019-pr2.herokuapp.com/db'">Base de datos de TFM</button>
    <button onclick="location.href='https://carlosguerayanez-ting-2019-pr2.herokuapp.com/db2'">Base de datos de asignaturas del máster</button>
  </body>
</html>
